---
http_interactions:
- request:
    method: get
    uri: https://api.pray.zone/v2/times/today.json?latitude=21.416667&longitude=39.816667
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"status":"OK","results":{"datetime":[{"times":{"Imsak":"05:06","Sunrise":"-","Fajr":"05:16","Dhuhr":"12:30","Asr":"15:54","Sunset":"-","Maghrib":"18:43","Isha":"-","Midnight":"-"},"date":{"timestamp":1615680000,"gregorian":"2021-03-14","hijri":"1442-08-01"}}],"location":{"latitude":21.416667,"longitude":39.816667,"elevation":-9999.0,"country":"","country_code":"SA","timezone":"Asia/Riyadh","local_offset":3.0},"settings":{"timeformat":"HH:mm","school":"Ithna
        Ashari","juristic":"Shafii","highlat":"None","fajr_angle":18.5,"isha_angle":90.0}}}'
  recorded_at: Sun, 14 Mar 2021 21:44:12 GMT
recorded_with: VCR 6.0.0
