---
http_interactions:
- request:
    method: get
    uri: https://api.pray.zone/v2/times/today.json?city=Rabat&school=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"status":"OK","results":{"datetime":[{"times":{"Imsak":"04:59","Sunrise":"06:31","Fajr":"05:09","Dhuhr":"12:35","Asr":"16:02","Sunset":"18:40","Maghrib":"18:40","Isha":"20:02","Midnight":"00:35"},"date":{"timestamp":1616112000,"gregorian":"2021-03-19","hijri":"1442-08-06"}}],"location":{"latitude":33.971591949462891,"longitude":-6.8498129844665527,"elevation":49.0,"city":"Rabat","country":"Morocco","country_code":"MA","timezone":"Africa/Casablanca","local_offset":0.0},"settings":{"timeformat":"HH:mm","school":"Muslim
        World League","juristic":"Shafii","highlat":"None","fajr_angle":18.0,"isha_angle":18.0}}}'
  recorded_at: Fri, 19 Mar 2021 22:48:47 GMT
recorded_with: VCR 6.0.0
