---
http_interactions:
- request:
    method: get
    uri: https://api.pray.zone/v2/times/today.json?city=Amsterdam&school=7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"status":"OK","results":{"datetime":[{"times":{"Imsak":"04:39","Sunrise":"06:45","Fajr":"04:49","Dhuhr":"12:48","Asr":"16:04","Sunset":"18:53","Maghrib":"19:16","Isha":"20:41","Midnight":"23:51"},"date":{"timestamp":1616112000,"gregorian":"2021-03-19","hijri":"1442-08-06"}}],"location":{"latitude":52.370216369628906,"longitude":4.8951678276062012,"elevation":5.0,"city":"Amsterdam","country":"Netherlands","country_code":"NL","timezone":"Europe/Amsterdam","local_offset":1.0},"settings":{"timeformat":"HH:mm","school":"Institute
        of Geophysics, University of Tehran","juristic":"Shafii","highlat":"None","fajr_angle":18.0,"isha_angle":17.0}}}'
  recorded_at: Fri, 19 Mar 2021 22:48:50 GMT
recorded_with: VCR 6.0.0
