---
http_interactions:
- request:
    method: get
    uri: https://api.pray.zone/v2/times/today.json?latitude=21.416667&longitude=39.816667&school=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"status":"OK","results":{"datetime":[{"times":{"Imsak":"05:04","Sunrise":"-","Fajr":"05:14","Dhuhr":"12:29","Asr":"15:53","Sunset":"-","Maghrib":"-","Isha":"-","Midnight":"-"},"date":{"timestamp":1615939200,"gregorian":"2021-03-17","hijri":"1442-08-04"}}],"location":{"latitude":21.416667,"longitude":39.816667,"elevation":-9999.0,"country":"","country_code":"SA","timezone":"Asia/Riyadh","local_offset":3.0},"settings":{"timeformat":"HH:mm","school":"Muslim
        World League","juristic":"Shafii","highlat":"None","fajr_angle":18.5,"isha_angle":90.0}}}'
  recorded_at: Wed, 17 Mar 2021 03:40:55 GMT
recorded_with: VCR 6.0.0
