---
http_interactions:
- request:
    method: get
    uri: https://api.pray.zone/v2/times/today.json?ip=31.151.143.105
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"status":"OK","results":{"datetime":[{"times":{"Imsak":"04:50","Sunrise":"06:55","Fajr":"05:00","Dhuhr":"12:49","Asr":"15:59","Sunset":"18:45","Maghrib":"19:06","Isha":"20:33","Midnight":"23:52"},"date":{"timestamp":1615766400,"gregorian":"2021-03-15","hijri":"1442-08-02"}}],"location":{"latitude":52.37403,"longitude":4.88969,"elevation":0.0,"ip_address":"31.151.143.105","city":"Amsterdam","country":"Netherlands","country_code":"NL","timezone":"Europe/Amsterdam","local_offset":1.0},"settings":{"timeformat":"HH:mm","school":"Ithna
        Ashari","juristic":"Shafii","highlat":"None","fajr_angle":18.0,"isha_angle":17.0}}}'
  recorded_at: Mon, 15 Mar 2021 04:48:23 GMT
recorded_with: VCR 6.0.0
