---
http_interactions:
- request:
    method: get
    uri: https://api.pray.zone/v2/times/today.json?ip=31.151.143.105&school=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"status":"OK","results":{"datetime":[{"times":{"Imsak":"04:45","Sunrise":"06:50","Fajr":"04:55","Dhuhr":"12:49","Asr":"16:01","Sunset":"18:49","Maghrib":"18:49","Isha":"20:37","Midnight":"00:49"},"date":{"timestamp":1615939200,"gregorian":"2021-03-17","hijri":"1442-08-04"}}],"location":{"latitude":52.37403,"longitude":4.88969,"elevation":0.0,"ip_address":"31.151.143.105","city":"Amsterdam","country":"Netherlands","country_code":"NL","timezone":"Europe/Amsterdam","local_offset":1.0},"settings":{"timeformat":"HH:mm","school":"Muslim
        World League","juristic":"Shafii","highlat":"None","fajr_angle":18.0,"isha_angle":17.0}}}'
  recorded_at: Wed, 17 Mar 2021 03:40:57 GMT
recorded_with: VCR 6.0.0
