---
http_interactions:
- request:
    method: get
    uri: https://api.pray.zone/v2/times/today.json?city=Rabat&school=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"status":"OK","results":{"datetime":[{"times":{"Imsak":"05:02","Sunrise":"06:34","Fajr":"05:12","Dhuhr":"12:36","Asr":"16:01","Sunset":"18:38","Maghrib":"18:38","Isha":"20:00","Midnight":"00:36"},"date":{"timestamp":1615939200,"gregorian":"2021-03-17","hijri":"1442-08-04"}}],"location":{"latitude":33.971591949462891,"longitude":-6.8498129844665527,"elevation":49.0,"city":"Rabat","country":"Morocco","country_code":"MA","timezone":"Africa/Casablanca","local_offset":0.0},"settings":{"timeformat":"HH:mm","school":"Muslim
        World League","juristic":"Shafii","highlat":"None","fajr_angle":18.0,"isha_angle":18.0}}}'
  recorded_at: Wed, 17 Mar 2021 03:40:54 GMT
recorded_with: VCR 6.0.0
