---
http_interactions:
- request:
    method: get
    uri: https://api.pray.zone/v2/times/today.json?city=Rabat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"status":"OK","results":{"datetime":[{"times":{"Imsak":"05:06","Sunrise":"06:38","Fajr":"05:16","Dhuhr":"12:37","Asr":"16:00","Sunset":"18:36","Maghrib":"18:50","Isha":"19:58","Midnight":"23:56"},"date":{"timestamp":1615680000,"gregorian":"2021-03-14","hijri":"1442-08-01"}}],"location":{"latitude":33.971591949462891,"longitude":-6.8498129844665527,"elevation":49.0,"city":"Rabat","country":"Morocco","country_code":"MA","timezone":"Africa/Casablanca","local_offset":0.0},"settings":{"timeformat":"HH:mm","school":"Ithna
        Ashari","juristic":"Shafii","highlat":"None","fajr_angle":18.0,"isha_angle":18.0}}}'
  recorded_at: Sun, 14 Mar 2021 20:14:27 GMT
recorded_with: VCR 6.0.0
