---
http_interactions:
- request:
    method: get
    uri: https://api.pray.zone/v2/times/day.json?city=Leiden&date=2021-03-21&school=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"status":"OK","results":{"datetime":[{"times":{"Imsak":"04:36","Sunrise":"06:42","Fajr":"04:46","Dhuhr":"12:49","Asr":"16:08","Sunset":"18:58","Maghrib":"18:58","Isha":"20:46","Midnight":"00:50"},"date":{"timestamp":1616284800,"gregorian":"2021-03-21","hijri":"1442-08-08"}}],"location":{"latitude":52.160114288330078,"longitude":4.4970097541809082,"elevation":6.0,"city":"Leiden","country":"Netherlands","country_code":"NL","timezone":"Europe/Amsterdam","local_offset":1.0},"settings":{"timeformat":"HH:mm","school":"Muslim
        World League","juristic":"Shafii","highlat":"None","fajr_angle":18.0,"isha_angle":17.0}}}'
  recorded_at: Sun, 21 Mar 2021 02:08:29 GMT
recorded_with: VCR 6.0.0
